<header>
  <figure>
    <img src="images/logo.png" alt="Greydells Accounting Services" />
    <figcaption></figcaption>
  </figure>
</header>
  <nav class="menu">  <!-- Top Navigation Bar -->
    <button aria-expanded="false" aria-controls="menu-list">
      <span class="open">☰</span>
      <span class="close">×</span>
      Menu
    </button>
    <ul id="menu-list">
      <li>
        <a href="index.html">home</a>
      </li>
      <li>
        <a href="staff.html">staff</a>
      </li>
      <li>
        <a href="contact.html">contact</a>
      </li>
    </ul>
  </nav>