<head>
  <link rel="icon" href="favicon.png" type="image/x-icon" />
  <link rel="shortcut icon" href="favicon.png" type="image/x-icon" /> <!-- Fav Icon - seen in tab-->
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <meta name="description" content="The website for Greydells Accounting Services, an accountancy firm based in Stevenage, Hertfordshire." />
  <meta name="keywords" content="greydells, accounting, services, accountant, tax services, stevenage, hertfordshire, herts, bookkeeping, finacial, finance, tax return, paye, mortgage, investment, john jenkins, nicola sutton, hitchin, letchworth, graveley" />
  <meta name="author" content="Steve Muir, Alpine Warrior Pigeon" />
  <title>Greydells Accounting Services</title>
  <link rel="stylesheet" type="text/css" href="styles/reset.css" />
  <link rel="stylesheet" type="text/css" href="styles/style.css" />
</head>